# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

### Explain what a CSV file is.

In [9]:
#är en enkel textfil som används för att lagra tabellbaserad data.
#  Varje rad i filen motsvarar en rad i tabellen, och kolumnerna i tabellen separeras med kommatecken.
#  CSV-filer är väldigt vanliga för att exportera och importera data mellan olika system eftersom de är enkla 
# och kan läsas av både människor och datorer.

### Load the data set "cars_data" through Pandas.

In [10]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

9# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

In [37]:

import pandas as pd
df = pd.read_csv('cars_data.csv')

### Print the first 10 rows of the data.

In [49]:
print("Visa de första 10 raderna")
import pandas as pd
df = pd.read_csv('cars_data.csv')
print(df.head(10))
# Visa de första 10 raderna

Visa de första 10 raderna
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [48]:
# Visa de sista 5 raderna
import pandas as pd
df = pd.read_csv('cars_data.csv')
print("Visa de sista 5 raderna")
print(df.tail(5))

Visa de sista 5 raderna
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [47]:
print("how many non-null rows each column have")
import pandas as pd
df = pd.read_csv('cars_data.csv')
print(df.info())

how many non-null rows each column have
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB
None

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [46]:
print(" bortas rader med saknade värden och ändrades direkt i DataFrame")
import pandas as pd
df = pd.read_csv('cars_data.csv')
df.dropna(inplace=True)

print("visar de första raden för att jämföra")# Visa de första raderna för att verifiera förändringen
print(df.head())

 bortas rader med saknade värden och ändrades direkt i DataFrame
visar de första raden för att jämföra
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

### Calculate the mean of each numeric column.

In [50]:
import pandas as pd
df = pd.read_csv('cars_data.csv')
#Inan vi beräkna medelvärdet för varje numerisk kolumn, måste vi kolla på att 
# har varje kolum numeriska verde eller nej. Eftersom vi kan inte beräkna medel värde
#  till ej numeriska värde 
print("en ska visa datatype för varje kolum")
print(df.dtypes) # den ska visa datatype för varje kolum !!
# Konvertera alla kolumner till numeriska värden, den ska ignorera fel 
df = df.apply(pd.to_numeric, errors='coerce')
# Ta bort rader med saknade värden
print("all rader so saknas värden i kolum ska bortas och ändra DataFrame")
df.dropna(inplace=True)
mean_values = df.mean()
#Beräkna medelvärdena för alla numeriska kolumner
mean_values = df.mean()
print("Medelvärden:")# Visa medelvärdena

print(mean_values)

Den ska visa datatype för varje kolum
index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object
all rader so saknas värden i kolum ska bortas och ändra DataFrame
Medelvärden:
index              NaN
company            NaN
body-style         NaN
wheel-base         NaN
length             NaN
engine-type        NaN
num-of-cylinders   NaN
horsepower         NaN
average-mileage    NaN
price              NaN
dtype: float64

index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

### Select the rows where the column "company" is equal to 'honda'.

In [45]:
import pandas as pd
df = pd.read_csv('cars_data.csv')
#ska vi selekta rader där kolumnen "company" är lika med 'honda'
honda_df = df[df['company'] == 'honda']

# VI visar de första raderna för att verifiera förändringen
print(honda_df.head())

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [51]:
import pandas as pd
df = pd.read_csv('cars_data.csv')

# Sorteras data efter kolumnen "price" i fallande ordning utan inplace operation
sorted_df = df.sort_values(by='price', ascending=False) # ascending=Tru betuder Sigande ordning

# Visa de första raderna för att bekrefta sorteringen
print(sorted_df.head())

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [52]:
import pandas as pd
df = pd.read_csv('cars_data.csv')
# ska väljas rader där kolumnen "company" är lika med "audi", "bmw" eller "porsche"
selected_rows = df[df['company'].isin(['audi', 'bmw', 'porsche'])]

print("De rader som kolumnen är lika med Audi,Bmw,Porsche ska vara så:") 
print(selected_rows)

De rader som kolumnen är lika med Audi,Bmw,Porsche ska vara så:
    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf
47     63  porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0
47            eight         288               17      NaN

### Find the number of cars (rows) for each company.

In [54]:
import pandas as pd
df = pd.read_csv('cars_data.csv')
# antalet bilar för varje företag
car_counts = df['company'].value_counts()
#Antal bilar varje foretag
print("Antal bilar varje foretag") 
print(car_counts)

Antal bilar varje foretag
company
toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
chevrolet        3
jaguar           3
isuzu            3
honda            3
porsche          3
alfa-romero      3
dodge            2
volvo            2
Name: count, dtype: int64

### Find the maximum price for each company.

In [55]:
import pandas as pd
df = pd.read_csv('cars_data.csv')

# Ska sortera efter företag och sen hitta det maximala priset
max_price_per_company = df.groupby('company')['price'].max()

# Visa högsta pris for verje företag.
print("Högsta pris for verje företag") 
print(max_price_per_company)

Högsta pris for verje företag
company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64